@import '../../../../variables';

:host {
    height: 100%;
}

.container {
    max-width: 100%;
    width: 100%;
    padding: 0 5%;

    .row{
        margin: 0;

        &.title-project {
            width: 100%;
            font-size: 2rem;
            font-weight: 400;
            line-height: 2rem;
        }

        &.content{
            .description {
                margin: 10px 0 0 0;
                padding: 0;
                text-align: justify;
            }

            .left-block {
                margin: 10px 0 0 0;
                padding: 0 10px 0 0;
            }
        }

        &.project-images {
            margin-top: 5vh;
                .project-image-wrapper {
                    margin: 0 0 5vh 0;
                    padding: 0;
                    height: 100%;

                    .photo-image-box {
                        height: 90vh;
                        width: 100%;
                        
                        

                        .photo-image {
                            width: 100%;
                            height: 90vh;
                            object-fit: cover;
                            margin-top: 20px;
                            pointer-events: none;
                            user-select: none;
                            animation-name: moveBlock;
                            animation-duration: 2s;
                            animation-iteration-count: 1;
                            animation-fill-mode: forwards;
                            opacity: 0;
                        } 

                    }
                }
        }
    }
}

.spinner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    min-height: 100%;

    .mat-progress-spinner circle,
    .mat-spinner circle {
        stroke: black;
        stroke-width: 2px !important;
    }

}


@keyframes moveBlock {
  0% {
    transform: translate(0, 0); 
    opacity: 0;
  }
  100% {
    transform: translate(0, -20px); 
    opacity: 1;
  }
}