<div class="nav" fxLayout="row" fxLayoutAlign="end center">
  <a routerLink="/admin/createproject" routerLinkActive="active" class="nav-page">Create Project</a>
  <a routerLink="/admin/projects" routerLinkActive="active" class="nav-page">Projects</a>
  <a routerLink="/admin/createcategory" routerLinkActive="active" class="nav-page">Create category</a>
  <a routerLink="/admin/contscts" routerLinkActive="active" class="nav-page">Contacts</a>
  <a routerLink="/admin/info" routerLinkActive="active" class="nav-page">Info</a>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>