<div class="container">
  <div class="row content">
    <div  fxLayout="column" fxLayoutAlign="start start">
      <div>{{contact?.name}}</div>
      <div>{{contact?.city}}, {{contact?.country}}</div>
      <div>{{contact?.street}}, {{contact?.build}}</div>
      <div>{{contact?.phone}}</div>
      <div>{{contact?.email}}</div>

      <div class="links">
        <div class="link" fxLayout="row" fxLayoutAlign="start center">
          <i class="material-icons">
            chevron_right
          </i>
          <a href="https://www.facebook.com/FORMb/" target="_blank">Facebook</a>  
        </div>
        <div class="link" fxLayout="row" fxLayoutAlign="start center">
          <i class="material-icons">
            chevron_right
          </i>
          <a href="https://www.behance.net/formab8af9" target="_blank">Behance</a>
        </div>
      </div>
  </div>
    
  </div>
</div>