<div class="container">
  <div class="row content">
    <div fxLayout="column" fxLayoutAlign="start start">
      <div>{{contact?.name }}</div>
      <div>{{contact?.country}}, {{contact?.city}}</div>
      <div>{{contact?.street}}, {{contact?.build}}</div>
      <div>{{contact?.phone}}</div>
      <div>{{contact?.email}}</div>

      <div class="links">
        <div class="link" fxLayout="row" fxLayoutAlign="start center">

          <a href="https://www.facebook.com/FORMb/" target="_blank">
            <i class="material-icons">
              panorama_fish_eye
            </i>
            Facebook
          </a>
        </div>
        <div class="link" fxLayout="row" fxLayoutAlign="start center">

          <a href="https://www.behance.net/formab8af9" target="_blank">
            <i class="material-icons">
              panorama_fish_eye
            </i>
            Behance
          </a>
        </div>
        <div class="link" fxLayout="row" fxLayoutAlign="start center">

          <a href="https://www.instagram.com/form_bureau/" target="_blank">
            <i class="material-icons">
              panorama_fish_eye
            </i>
            Instagram
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
