<mdb-navbar SideClass="navbar navbar-expand-lg lighten-5 navbar-light" class="header" [ngClass]="{'lang-ru': currentLanguage?.id === 1 }">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <div class="logo" fxLayout="row" fxLayoutAlign="start center" routerLink="/main" [queryParams]="{lang: currentLanguage.id}">
      <img src="../../assets/form_logo.jpg" class="logo-img" alt="Form">
      <div class="logo-name" fxLayout="row" fxLayoutAlign="start center">
        <span class="logo-name-form">FORM</span>
        <div class="logo-name-bureau">bureau</div>
      </div>
    </div>
  </mdb-navbar-brand>


  <!-- Collapsible content -->
  <links>

    <!-- Links -->

    <ul class="navbar-nav nav">

      <li class="nav-item">
        <a routerLink="/about" routerLinkActive="active" [queryParams]="{lang: currentLanguage.id}" class="nav-page nav-link">{{headerTitles?.info}}</a>
      </li>
      <li class="nav-item">
        <a routerLink="/interiors" routerLinkActive="active" [queryParams]="{lang: currentLanguage.id}" class="nav-page nav-link">{{headerTitles?.interiors}}</a>
      </li>

      <li class="nav-item">
        <a routerLink="/architecture" routerLinkActive="active" [queryParams]="{lang: currentLanguage.id}" class="nav-page nav-link">{{headerTitles?.arhitecture}}</a>

      </li>
      <li class="nav-item">
        <a routerLink="/products" routerLinkActive="active" [queryParams]="{lang: currentLanguage.id}" class="nav-page nav-link">
          {{headerTitles?.products}}</a>

      </li>
      <li class="nav-item">
        <a routerLink="/contacts" routerLinkActive="active" [queryParams]="{lang: currentLanguage.id}" class="nav-page nav-link">{{headerTitles?.contacts}}</a>
      </li>
      <li class="nav-item">
        <button mat-button class="nav-page select-button nav-link" [matMenuTriggerFor]="menuLang">{{currentLanguage.name}}
        </button>
        <mat-menu #menuLang="matMenu" class="mat-menu-header mat-menu-header-language">
          <button mat-menu-item *ngFor="let lang of langs" (click)="changeLanguage(lang)">
            <span class="lang-name">{{lang.name}}</span>
          </button>
        </mat-menu>
      </li>



    </ul>

    <!-- Links -->


  </links>


  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<go-top-button [animate]="true" [speed]="50" [acceleration]="2" [scrollDistance]="300" [classNames]="'custom-class'">
  <img src="../../assets/triangle.jpg"  alt="Up">

</go-top-button>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
