<!-- <div class="header" fxLayout="row" fxLayoutAlign="space-between start">
  <div class="logo" fxLayout="row" fxLayoutAlign="start center" routerLink="/main" [queryParams]="{lang: currentLanguage.id}">
    <img src="../../assets/form_logo.jpg" class="logo-img" alt="Form">
    <div class="logo-name" fxLayout="column" fxLayoutAlign="center stretch">
      <span class="logo-name-form">FORM</span>
      <div class="logo-name-bureau">bureau</div>
    </div>
  </div>
  <div class="nav" fxLayout="row" fxLayoutAlign="end center">

    <button mat-button class="select-button nav-page" [matMenuTriggerFor]="menuInfo">{{headerTitles?.info}}</button>
    <mat-menu #menuInfo="matMenu" class="mat-menu-header">
      <button mat-menu-item routerLink="/info" [queryParams]="{lang: currentLanguage.id}">{{headerTitles?.about}}</button>
      <button mat-menu-item [queryParams]="{lang: currentLanguage.id}">{{headerTitles?.awards}}</button>
      <button mat-menu-item [queryParams]="{lang: currentLanguage.id}">{{headerTitles?.services}}</button>
    </mat-menu>

    <a routerLink="/interiors" routerLinkActive="active" [queryParams]="{lang: currentLanguage.id}" class="nav-page">{{headerTitles?.interiors}}</a>
    <a routerLink="/architecture" routerLinkActive="active" [queryParams]="{lang: currentLanguage.id}" class="nav-page">{{headerTitles?.arhitecture}}</a>
    <a routerLink="/products" routerLinkActive="active" [queryParams]="{lang: currentLanguage.id}" class="nav-page">{{headerTitles?.products}}</a>
    <a routerLink="/contacts" routerLinkActive="active" [queryParams]="{lang: currentLanguage.id}" class="nav-page">{{headerTitles?.contacts}}</a>

    <button mat-button class="nav-page select-button" [matMenuTriggerFor]="menuLang">{{currentLanguage.name}}
    </button>
    <mat-menu #menuLang="matMenu" class="mat-menu-header mat-menu-header-language"> 
      <button mat-menu-item *ngFor="let lang of langs" (click)="changeLanguage(lang)">{{lang.name}}</button>
    </mat-menu>

  </div>
</div> -->

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-md lighten-5 navbar-light" class="header">


  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <div class="logo" fxLayout="row" fxLayoutAlign="start center" routerLink="/main" [queryParams]="{lang: currentLanguage.id}">
      <img src="../../assets/form_logo.jpg" class="logo-img" alt="Form">
      <div class="logo-name" fxLayout="column" fxLayoutAlign="center stretch">
        <span class="logo-name-form">FORM</span>
        <div class="logo-name-bureau">bureau</div>
      </div>
    </div>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->

    <ul class="navbar-nav nav" >
      <!-- <li class="nav-item">
        <button mat-button class="select-button nav-page nav-link" [matMenuTriggerFor]="menuInfo">{{headerTitles?.info}}</button>
        <mat-menu #menuInfo="matMenu" class="mat-menu-header">
          <button mat-menu-item routerLink="/about" [queryParams]="{lang: currentLanguage.id}">{{headerTitles?.about}}</button>
          <button mat-menu-item routerLink="/services" [queryParams]="{lang: currentLanguage.id}">{{headerTitles?.awards}}</button>
          <button mat-menu-item routerLink="/awards" [queryParams]="{lang: currentLanguage.id}">{{headerTitles?.services}}</button>
        </mat-menu>
      </li> -->
      <li class="nav-item">
        <a routerLink="/about" routerLinkActive="active" [queryParams]="{lang: currentLanguage.id}" class="nav-page nav-link"
          mdbWavesEffect>{{headerTitles?.info}}</a>
      </li>
      <li class="nav-item">
        <a routerLink="/interiors" routerLinkActive="active" [queryParams]="{lang: currentLanguage.id}" class="nav-page nav-link"
          mdbWavesEffect>{{headerTitles?.interiors}}</a>
      </li>

      <li class="nav-item">
        <a routerLink="/architecture" routerLinkActive="active" [queryParams]="{lang: currentLanguage.id}" class="nav-page nav-link"
          mdbWavesEffect>{{headerTitles?.arhitecture}}</a>

      </li>
      <li class="nav-item">
        <a routerLink="/products" routerLinkActive="active" [queryParams]="{lang: currentLanguage.id}" class="nav-page nav-link"
          >{{headerTitles?.products}}</a>

      </li>
      <li class="nav-item">
        <a routerLink="/contacts" routerLinkActive="active"
          [queryParams]="{lang: currentLanguage.id}" class="nav-page nav-link"
            mdbWavesEffect>{{headerTitles?.contacts}}</a>
      </li>
      <li class="nav-item">
        <button mat-button mdbWavesEffect class="nav-page select-button nav-link" [matMenuTriggerFor]="menuLang">{{currentLanguage.name}}
        </button>
        <mat-menu #menuLang="matMenu" class="mat-menu-header mat-menu-header-language">
          <button mat-menu-item *ngFor="let lang of langs" (click)="changeLanguage(lang)">{{lang.name}}</button>
        </mat-menu>
      </li>

      <!-- Dropdown -->
      <!-- <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Basic dropdown
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li> -->

    </ul>

    <!-- Links -->


  </links>


  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<go-top-button [animate]="true" [speed]="50" [acceleration]="2" [scrollDistance]="300" [classNames]="'custom-class'">
  <i class="material-icons">change_history</i>

</go-top-button>
<div class="main-content">
  <router-outlet></router-outlet>
</div>

